@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/*Pagina Home Inicio*/

.corpo{
    height: 100%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Menu inicio*/

.menu{
    width: 100%;
    background-color:#E5E5E5;
    
}
.menu .linha1{
    height: 42px;
    background-color: #9F9F9F;
}
.menu .linha1 .linha2{
    width: 100;
    height: 19px;
    background-color: #646464;
}
.menu .navegacao{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: end;
    list-style: none;
}
.navegacao li{
    
    height: 64px;
    padding: 20px;
}
.navegacao li a{
    text-decoration: none;
    color: black;
}
.navegacao li a:hover{
    color: rgb(58, 52, 52);
    font-size: 20px;
}
/*Menu Fim*/

/*Resumo inicio*/
.resumoConteiner{
    width: 100%;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.resumo{
    width: 80%;
    height: 500px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}
.resumo .tituloResumo{
    font-family: Heebo;
    width: 506px;
    text-align: center;
}
.resumo .tituloResumo h1{
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
}
.resumo .tituloResumo p{
    margin-top: 25px;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
}
.curriculo{
    grid-column: 1;
}
.curriculo button{
    width: 208px;
    height: 47px;
    border-radius: 2px;
    color: white;
    background-color:#787878
   
    
}
.foto{
    width: 260px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    grid-column: 2;
    grid-row: 1;
    grid-column-start: 2;
    grid-column-end:2 ;
   
}
.foto img{
   
    border-radius: 50%;
    width: 243px;
    height: 243px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-column: 2;
}
/*Resumo Fim*/

/*Exp inicio*/
.experiencias{
   width: 100%;
    background-color: #F3F3F3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 3fr;
}
.experiencias .tituloExp{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F3F3;
    width: 100%;
    height: 100%;
    grid-column-start:1 ;
    grid-column-end: 3;
}
.experiencias .tituloExp h1{
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
   
}
.exp1{
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-right: solid 1px #989898;

}
.exp2{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.exp1 div p , .exp2 div p{
    width: 110px;
    color: #8695A4;
    text-align: center;
    margin: 0 45px 0 0;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;    
}
.exp1 div, .exp2 div {
    display: flex;
    align-items: center;
    margin: 10px;
}

.exp1{
    grid-column: 1;
}
.exp2{
    grid-column: 2;
    grid-row: 2;
}

.barraExp{
    width: 250px;
    height: 30px;
    border-radius: 50px;
    border: 1px solid black;
    background-color: #C4C4C4;
    
 
   
}
.barraExp span{
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    padding-right: 10px;    
}

.javaScript .barraExp span{
    border-radius: 50px;
    width: 65%;
    height: 100%;
    background-color: #7A7A7A;
    margin: 0;
}
.php .barraExp span{
    border-radius: 50px;
    width: 20%;
    height: 100%;
    background-color: #7A7A7A;
    margin: 0;
}
.node .barraExp span{
    border-radius: 50px;
    width: 55%;
    height: 100%;
    background-color: #7A7A7A;
    margin: 0;
}
.fluig .barraExp span{
    border-radius: 50px;
    width: 65%;
    height: 100%;
    background-color: #7A7A7A;
    margin: 0;
}
.python .barraExp span{
    border-radius: 50px;
    width: 55%;
    height: 100%;
    background-color: #7A7A7A;
    margin: 0;
}
.htmlCss .barraExp span{
    border-radius: 50px;
    width: 80%;
    height: 100%;
    background-color: #7A7A7A;
    margin: 0;
}

/*Exp fim*/

/*Trabalhos inicio*/

.trabalhos{
    width: 80%;
    background-color: white;
}
.trabalho{
    
    display: flex;
    width: 858px;
}
.trabalho div{
    padding: 10px;
}
.trabalho .infoTrabalho p:last-child{
    margin-top: 10px;
    
}
.trabalho .imagemTrabalho img{
    width: 246px;
    height: 180px;
    background-color: aqua;
}

.trabalho .infoTrabalho h1{
    width: 307px;
    height: 44px;
    left: 410px;
    top: 1036px;
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
}

.trabalho .imagemTrabalho p{
    width: 594px;
    height: 93px;
    left: 410px;
    top: 1147px;
    font-family: Heebo;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
}

.infoTrabalho .data{
    display: flex;
    justify-content: center;
    align-items: center;
    Width: 62px;
    Height: 25px;
    border: 1px solid black;
    background-color: #142850;
    color: white;
    border-radius: 50px;
    margin-top: 5px;
}
/*Trabalhos Fim*/

/*Rodape inicio*/
.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F3F3F3;
    width: 100%;
    Height: 182px;
   
}
.rodape div{
    margin: 10px;
}

.rodape .icones i{
    margin: 10px;
    font-size: 30px;
    Width: 30px;
    Height: 30px;
}

/*Rodape fim*/

/*Pagina Home Fim*/

/*Pagina Blog inicio*/

.blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 10px;   
}
.blogTitulo{
    display: flex;
    width: 55%;
    height: 54px;
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
}
.poste{
    border-bottom: 1px solid black;
    
}
.poste:last-child{
    margin-bottom: 50px;
}
.poste .infoPoste{
   margin-bottom: 15px;
}
.infoPoste .posteData{
    width: 100px;
}
.blogRodape{
    bottom: 0; 
}

/*Pagina Blog Fim*/

/*Inicio Fluig*/
.bordaVideo{
    width: 1200px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bordaVideo iframe{
    width: 1150.66px;
    height: 638.21px;
}
/*Fim Fluig*/
/*Pagina Formulario Inicio*/

.formulario{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tituloRelatorio{
    width: 90%;
    height: 109px;
    background: #F3F3F3;
    border: 1px solid #7A7A7A;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 38px;
}
.tituloRelatorio h1{
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    color: #575757;
}
.solicitante{
    background-color: white;
    width: 90%;
}

.tituloSolicitante{
    text-align: center;
}
.infSolicitante{
    display: flex;
    flex-direction: column;
    border: 1px solid #7A7A7A;
    box-sizing: border-box;
    border-radius: 10px; 
}
.caixaLabel{
    margin: 45px;
}

.infSolicitante div label{
    width: 108px;
    height: 25px;
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #7A7A7A;
}

.infSolicitante div label input , .linha input , .linha select{
    width: 100%;
    height: 31px;
    border: 1px solid #989898;
    box-sizing: border-box;
    border-radius: 10px;
}

.adicionarCampo {
    position: relative;
    background-color: white;
    width: 100%;
    text-align: center;
    margin-top: 64px;
    padding-bottom: 5px;
    
}
.adicionarCampo i{
    margin-right: 25px;
    font-size: large;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}
.adicionarCampo button{
    position: absolute;
    height: 36px;
    width: 153px;
    top: 0px;
    right: 99px;
    background: #71AA70;
    border-radius: 10px;
    font-size: large;
    float: right;
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
   
}
.containerDespesas{
    width: 90%;
    border: 1px solid black;
    padding: 50px;
    border-radius: 10px;
    
}
.categoriaDespesas ,.linha{
   width: 100%;
   display: grid;
   grid-template-columns: 45px 1fr 2fr 1fr 1fr 1fr ;
   column-gap: 20px;
}
.categoriaDespesas{
   text-align: center;
}
.categoriaDespesas .categoria{
   grid-column: 2;
}
.linha{
   margin-bottom: 28px;
}
.linha button{
    width: 44px;
    height: 31px;
    background: #D45757;
    border: 1px solid #D45757;
    box-sizing: border-box;
    border-radius: 10px;
}
.linha button i {
    font-size: x-large;
    text-align: center;
    color: white;
}

.totalDespesas{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
    font-family: Heebo;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    text-align: center;

color: #7A7A7A;
}
.totalDespesas p{
    margin-left: 25px;
    width: 184px;
    height: 49px;
    background: #F3F3F3;
    border: 1px solid #575757;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caixaAcoes{
    margin-top: 46px;
    width: 90%;
    height: 106px;
    background: #C4C4C4;
    border: 1px solid #7A7A7A;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 150px;
}
.caixaAcoes h1{
    width: 25%;
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 53px;
    text-align: center;
    color: #FFFFFF;
}
.caixaAcoes div{
    width: 100%;
    height: 106px;
    background: #FFFFFF;
    border: 1px solid #7A7A7A;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.caixaAcoes div button{
    width: 208px;
    height: 56px;
    border-radius: 10px;
    font-family: Heebo;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}
.limpar{
    background: #EEB764;
}
.cancelar{
    background: #D45757;
}
.enviar{
    background: #71AA70;
}
/*Fim despesas*/

/*Pagina Formulario Fim*/

/* .modalteste{
    display: none;
} */
.total, .valorTotal{
    text-align: center;
}

.selected  input{
    border: 1px solid red;
}
.selected input:last-child{
    background-color: rgb(240, 140, 140);
    color: black;
    font-weight: 700;
    
}

/* Tag link site */
.linkSite{
    color: black;
    cursor: pointer;
}